.DS_Store
clib
clib-install
clib-search
*.o
*.d
tmp/
/clib-init
/clib-configure
package-lock.json
clib-build
clib-update
clib-upgrade

test/package/package-*
!test/package/package-*.c

test/cache/*
!test/cache/*.c
!test/cache/Makefile
